.meal {
  background-color: white;
  margin: 0 auto;
  width: 75%;
  border:1px solid black;
  border-radius: 3px;
  margin-bottom: 5px;
}

.meal-input, .meal-label {
  display: block;
}

.meal-input {
  width: 100%;
  min-height: 50px;
  font-size: 20px;
  padding-left: 5px;
  border: none;
  text-align: center;
  resize: none;
}

.meal-label {
  margin: 0;
  margin-left: 10px;
  text-align: left;
  color: #aaa;
}
