.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 5px;
  right: 0;
}

.nav-list li {
  float: left;
  display: block;
  padding: 0 10px;
}

.nav-list li:hover {
  text-decoration: underline;
}
