form {
  display: block;
  height: 400px;
  width: 500px;
  margin: 0 auto;
}

label, input {
  height: 30px;
  float:left;
  margin-bottom: 10px;
}

label {
  width: 200px;
  text-align: right;
  vertical-align: bottom;
  padding-right: 10px;
  clear: both;
}

input {
    width: 300px;
}

button[type="submit"] {
    float: none;
    clear: both;
    display: block;
    margin: 0 auto;
    height: 30px;
}
