.grocery-list  {
  list-style-type: none;
  text-align: center;
  padding: 0 0 0 30px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.grocery-list li:hover {
  cursor: pointer;
}

.grocery-item button {
  background-color: #d3e29d;
  border: none;
  border-radius: none;
  box-shadow: none;
  margin-bottom: 5px;
  width: 50%;
  font-size: 20px;
  text-align: left;
  position: relative;
}

.grocery-item button:hover {
  background-color: #d3e29d;
  box-shadow: none;
}

.grocery-container {
  position: fixed;
}

.box-icon {
  position: absolute;
  top: 5px;
  left: -15px;
}

.checked {
  text-decoration: line-through;
}

.list-header {
  clear: both;
}

/* edit menu */
.remove-items {
  position: absolute;
  right: 30px;
  top: 33px;
  margin: 0;
  padding: 0;
}

.remove-items:hover {
  color: #f35001;
  cursor: pointer;
}
