.toggle-side-bar {
  position: absolute;
  top: 33px;
  left: 2px;
  width: 30px;
}

.toggle-side-bar:hover {
  cursor: pointer;
  color: #f35001;
}

.toggle-side-bar:focus {
  outline: 0;
}

.toggle-side-bar__with-sidebar {
  transform: rotateY(-180deg);
}

.meals-container {
  position: relative;
  display: inline-block;
  height: 100%;
  width: 100%;
  transition: transform .2s ease-in-out;
}

.groceries-side-bar {
  display: inline-block;
  position: fixed;
  overflow: scroll;
  width: 420px;
  height: 100vh;
  top: 75px;
  right: -420px;
}

.meals-container__with-sidebar {
  display: none;
}

.groceries-side-bar__visible {
  width: 100%;
  right: 0;
}
