body {
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 1.5;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}

section {
  min-height: 200px;
  padding: 75px 0;
}

.x-light-green-background {
  background-color: #d3e29d;
}

.light-green-background {
  background-color: #acc864;
}

.red-orange-background {
  background-color: #f35001;
}

.full-length {
  height: 100vh;
}

a {
  text-decoration: none;
  color: black;
}

.page-link {
  text-decoration: underline;
}

.page-link:hover {
  text-decoration: underline;
  color: #f35001;
}

/* forms */
form {
  display: block;
  margin: 0 auto;
  width: 300px;
}

label, input, .form-error {
  height: 30px;
}

label {
  width: 300px;
  text-align: right;
  vertical-align: bottom;
  padding-right: 10px;
}

input {
  width: 300px;
  text-align: center;
}

.form-error {
  color: #f35001;
  width: 300px;
  margin-bottom: 10px;
}

button[type="submit"], button[type="button"] {
  margin: 10px auto;
  height: 30px;
  width: 100px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: black;
  color: white;
  font-size: 16px;
}

button:hover {
  cursor: pointer;
  background-color: #f35001;
  color: black;
  box-shadow: 1px 2px 2px 2px #eee;
}

button:focus, input:focus {
  outline: 0;
}

button[disabled] {
  color: #aaa;
  background-color: white;
  border: 1px solid #aaa;
}

button[disabled]:hover {
  cursor: not-allowed;
  box-shadow: none;
}
