body {
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 1.5;
  font-size: 20px;
  font-family: sans-serif;
}

.dark-section {
  background-color: #ccc;
}

.full-length {
  height: 100vh;
}

a {
  text-decoration: none;
  color: black;
}

.button {
  background-color: #bbb;
  border: 1px solid black;
  border-radius: 3px;
  padding: 5px;
}

.underline {
  text-decoration: underline;
}

/* forms */
form {
  display: block;
  width: 500px;
  margin: 0 auto;
}

label, input {
  height: 30px;
  float:left;
  margin-bottom: 10px;
}

label {
  width: 200px;
  text-align: right;
  vertical-align: bottom;
  padding-right: 10px;
  clear: both;
}

input {
  width: 300px;
}

button[type="submit"] {
  float: none;
  clear: both;
  display: block;
  margin: 0 auto;
  height: 30px;
}
